.vp-doc mark {
  background-color: transparent;
  color: inherit;
  background-image: linear-gradient(#73ffa0, #73ffa0);
  background-repeat: no-repeat;
  background-size: 0% 38%;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}

html.dark .vp-doc mark {
  background-image: linear-gradient(#2d643f, #2d643f);
}

.vp-doc mark.highlight {
  animation: 2s highlight ease-in-out 0.3s forwards;
}

@keyframes highlight {
  to {
    background-size: 100% 38%;
  }
}
