.group:has([role="button"]) .VPSidebarItem.level-0 .items {
  padding-left: 16px !important;
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 2px;
  transition: background-color 0.25s;
}

* {
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

html {
  overflow-y: scroll;
}

mark {
  background-color: transparent;
  color: inherit;
  background-image: linear-gradient(#73ffa0, #73ffa0);
  background-repeat: no-repeat;
  background-size: 0% 38%;
  background-position: 0 100%;
}

html.dark mark {
  background-image: linear-gradient(#2d643f, #2d643f);
}

mark.highlight {
  animation: 2s highlight ease-in-out 0.3s forwards;
}

@keyframes highlight {
  to {
    background-size: 100% 38%;
  }
}
